In [22]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql import types
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('taxi') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/Cellar/apache-spark/3.2.1/libexec/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/21 08:15:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
green_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("lpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("lpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("ehail_fee", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("trip_type", types.IntegerType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

yellow_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [4]:
!pwd

/Users/gabidoye/Documents/Data_Engineering_course/data-engineering-zoomcamp/batch_processing

In [8]:
year = 2020
path ='/Users/gabidoye/Documents/Data_Engineering_course/datasets'
for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'{path}/green/{year}/{month:02d}/'
    output_path = f'{path}/pq/green/{year}/{month:02d}/'

    df_green = spark.read \
        .option("header", "true") \
        .schema(green_schema) \
        .csv(input_path)

    df_green \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2020/1

processing data for 2020/2

processing data for 2020/3

processing data for 2020/4
processing data for 2020/5

processing data for 2020/6

processing data for 2020/7

processing data for 2020/8

processing data for 2020/9

processing data for 2020/10

processing data for 2020/11

processing data for 2020/12

In [11]:
year = 2021 
path ='/Users/gabidoye/Documents/Data_Engineering_course/datasets'
for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'{path}/green/{year}/{month:02d}/'
    output_path = f'{path}/pq/green/{year}/{month:02d}/'

    df_green = spark.read \
        .option("header", "true") \
        .schema(green_schema) \
        .csv(input_path)

    df_green \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2021/1

AnalysisException: path file:/Users/gabidoye/Documents/Data_Engineering_course/datasets/pq/green/2021/01 already exists.

In [27]:
year = 2020
path ='/Users/gabidoye/Documents/Data_Engineering_course/datasets'
for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'{path}/yellow/{year}/{month:02d}/'
    output_path = f'{path}/pq/yellow/{year}/{month:02d}/'

    df_yellow = spark.read \
        .option("header", "true") \
        .schema(yellow_schema) \
        .csv(input_path)

    df_yellow \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2020/1

processing data for 2020/2

processing data for 2020/3

processing data for 2020/4

processing data for 2020/5

processing data for 2020/6

processing data for 2020/7

processing data for 2020/8

processing data for 2020/9

processing data for 2020/10

processing data for 2020/11

processing data for 2020/12

In [14]:
year = 2021
path ='/Users/gabidoye/Documents/Data_Engineering_course/datasets'
for month in range(1, 13):
    print(f'processing data for {year}/{month}')

    input_path = f'{path}/yellow/{year}/{month:02d}/'
    output_path = f'{path}/pq/yellow/{year}/{month:02d}/'

    df_yellow = spark.read \
        .option("header", "true") \
        .schema(yellow_schema) \
        .csv(input_path)

    df_yellow \
        .repartition(4) \
        .write.parquet(output_path)

processing data for 2021/1

processing data for 2021/2

processing data for 2021/3

processing data for 2021/4

processing data for 2021/5

processing data for 2021/6

processing data for 2021/7

processing data for 2021/8
processing data for 2021/9

AnalysisException: Path does not exist: file:/Users/gabidoye/Documents/Data_Engineering_course/datasets/yellow/2021/09

# Transformation #

In [34]:
df_green = spark.read.parquet(f'{path}/pq/green/*/*')

In [89]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [90]:
df_green.show(10)

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2|2020-01-22 16:17:49|2020-01-22 16:41:43|                 N|         1|          25|         125|              1|         3.69|       17.5|  1.0|    0.5|      4.41|         0.0|     null|                  0.3|       26.46|           1|        1|                2.75|
|    null|2020-01-29 13:59:00|2020-01-29 14:25:00|              null|      null|         223|          73|           null|         7.36|       30.3| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|       33.85|        null|     null|                null|
|       2|2020-01-09 21:09:23|2020-01-09 21:22:48|                 N|         1|          33|         181|              1|         2.06|       10.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.8|           2|        1|                 0.0|
|    null|2020-01-02 12:20:00|2020-01-02 12:59:00|              null|      null|          26|          35|           null|         5.73|      34.13| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|       37.68|        null|     null|                null|
|       2|2020-01-15 15:17:00|2020-01-15 15:24:43|                 N|         1|          41|         152|              1|         0.94|        7.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|
|       1|2020-01-26 17:06:29|2020-01-26 17:11:13|                 N|         1|         116|         152|              1|          1.0|        5.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|
|       2|2020-01-16 00:37:59|2020-01-16 00:40:48|                 N|         1|           7|           7|              1|         0.54|       -4.0| -0.5|   -0.5|       0.0|         0.0|     null|                 -0.3|        -5.3|           3|        1|                 0.0|
|       1|2020-01-02 12:07:43|2020-01-02 12:15:51|                 N|         1|          42|         116|              1|          1.4|        7.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         8.3|           2|        1|                 0.0|
|       2|2020-01-25 19:11:38|2020-01-25 19:21:19|                 N|         1|          92|          82|              1|         4.06|       13.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        14.3|           2|        1|                 0.0|
|       2|2020-01-02 16:30:32|2020-01-02 16:42:57|                 N|         1|          97|          49|              1|         1.56|        9.5|  1.0|    0.5|       2.0|         0.0|     null|                  0.3|        13.3|           1|        1|                 0.0|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 10 rows

In [36]:
df_yellow = spark.read.parquet(f'{path}/pq/yellow/*/*')

In [37]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [38]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [39]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [40]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [41]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [42]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [43]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

## SQL ##

In [46]:
df_trips_data.createOrReplaceTempView('trips_data')

In [47]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [48]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [50]:
df_result.coalesce(1).write.parquet(f'{path}/report/revenue/', mode='overwrite')

In [60]:
#df_result.revenue_zone.show(n=10)

#df_result.printSchema

df_result.select(df_result.columns[1:5]).show(3)

+-------------------+------------+--------------------+---------------------+
|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|
+-------------------+------------+--------------------+---------------------+
|2020-01-01 00:00:00|       green|  11375.420000000002|                681.0|
|2020-01-01 00:00:00|       green|             1692.21|               104.75|
|2008-12-01 00:00:00|       green|                 0.0|                  0.0|
+-------------------+------------+--------------------+---------------------+
only showing top 3 rows

In [64]:
df_green.createOrReplaceTempView('green')
df_green.printSchema

<bound method DataFrame.printSchema of DataFrame[VendorID: int, pickup_datetime: timestamp, dropoff_datetime: timestamp, store_and_fwd_flag: string, RatecodeID: int, PULocationID: int, DOLocationID: int, passenger_count: int, trip_distance: double, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, ehail_fee: double, improvement_surcharge: double, total_amount: double, payment_type: int, trip_type: int, congestion_surcharge: double]>

In [69]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [71]:
df_yellow = spark.read.parquet(f'{path}/pq/yellow/*/*')
df_yellow.createOrReplaceTempView('yellow')

In [73]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [74]:
df_yellow_revenue \
    .repartition(4) \
    .write.parquet(f'{path}/report/revenue/yellow', mode='overwrite')

In [75]:
df_green_revenue \
    .repartition(4) \
    .write.parquet(f'{path}/report/revenue/green', mode='overwrite')

In [76]:
df_green_revenue = spark.read.parquet(f'{path}/report/revenue/green')
df_yellow_revenue = spark.read.parquet(f'{path}/report/revenue/yellow')

In [77]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [79]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [80]:
df_join.write.parquet(f'{path}/report/revenue/total', mode='overwrite')

22/02/21 13:29:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/02/21 13:29:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/02/21 13:29:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/02/21 13:29:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/02/21 13:29:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [81]:
df_join = spark.read.parquet(f'{path}/report/revenue/total')

In [82]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [84]:
df_zones = spark.read.parquet('zones/')

In [85]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [86]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

22/02/21 13:48:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/02/21 13:48:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/02/21 13:48:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/02/21 13:48:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/02/21 13:48:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [87]:
!ls -lrt

total 144
-rwxr-xr-x  1 gabidoye  staff    727 21 Feb 07:56 download_files.sh
-rw-r--r--  1 gabidoye  staff  21986 21 Feb 08:06 batch_Processing.ipynb
drwxr-xr-x  6 gabidoye  staff    192 21 Feb 13:44 zones
drwxr-xr-x  3 gabidoye  staff     96 21 Feb 13:48 tmp
-rw-r--r--  1 gabidoye  staff  45056 21 Feb 13:48 taxi_data_schema_prep.ipynb

In [88]:
df_result.show(n=10)

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|   4|              null|                null|1004.3000000000002|                   57|         4|Manhattan|       Alphabet City| Yellow Zone|
|2020-01-01 00:00:00|  12|              null|                null|106.99999999999999|                    6|        12|Manhattan|        Battery Park| Yellow Zone|
|2020-01-01 00:00:00|  15|              null|                null|             34.09|                    1|        15|   Queens|Bay Terrace/Fort ...|   Boro Zone|
|2020-01-01 00:00:00|  17|            195.03|                   9|220.20999999999998|                    8|        17| Brooklyn|             Bedford|   Boro Zone|
|2020-01-01 00:00:00|  70|54.900000000000006|                   3|               9.3|                    1|        70|   Queens|       East Elmhurst|   Boro Zone|
|2020-01-01 00:00:00|  75| 278.1400000000001|                  26| 958.3500000000004|                   69|        75|Manhattan|   East Harlem South|   Boro Zone|
|2020-01-01 00:00:00| 112|312.26000000000005|                  18|119.47999999999999|                    8|       112| Brooklyn|          Greenpoint|   Boro Zone|
|2020-01-01 00:00:00| 127|              null|                null|43.900000000000006|                    3|       127|Manhattan|              Inwood|   Boro Zone|
|2020-01-01 00:00:00| 132|              null|                null| 6786.390000000004|                  139|       132|   Queens|         JFK Airport|    Airports|
|2020-01-01 00:00:00| 163|              null|                null|2652.9799999999977|                  152|       163|Manhattan|       Midtown North| Yellow Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 10 rows

22/02/21 14:05:29 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 801723 ms exceeds timeout 120000 ms
22/02/21 14:05:29 WARN SparkContext: Killing executors is not supported by current scheduler.